html{
  height:100%;
  background-image:url('http://blog.macuyiko.com/images/backgrounds/clouds.jpg');
  background-size:cover;
}

#banner{
 padding-top: 22%;
 font-family: 'Shadows Into Light', cursive;
 font-size:25px;
 display:flex;
 justify-content:center;
 color:#f60606;
}

#heading{
  height:100%;
  font-family: 'Covered By Your Grace', cursive;
  display:flex;
  justify-content:space-around;
  color:#0d0d0d;
}

.navbar {
  display:flex;
  justify-content:space-around;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  width:100%; /* Full Width */
}

.navebar a {
  float:left;
  display:block;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  color:#f60606;
  font-family: 'Shadows Into Light', cursive;
}

.navbar a:hover {
  color:red;
  background:#0d0d0d;
}

#about-content {
  display:flex;
  justify-content: space-around;
  margin-top:22%;
}

img {
  border-radius:50%;
  border: solid 5px #0d0d0d;
}

.my-description {
  background:white;
  margin: 3%;
  padding:4%;
  font-family: 'Shadows Into Light', cursive;
}

.project-container {
  margin-top:20%;
  display:flex;
  width:100%;
  height:100%;
  justify-content:space-between;
}

span {
   box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
  background:#b3e5eb;
  width:30%;
  height:60%;
  margin:2%;
  padding:2%;
 font-family:'Shadows Into Light', cursive;
  color:black;
  align-items:center;
}

.my-picture:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.feature-container {
  margin-top:20%;
  display:flex;
  width:100%;
  height:100%;
  justify-content:space-between;
